body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:982px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:22px;
  top:9px;
  width:320px;
  height:632px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:632px;
}
#u1 {
  position:absolute;
  left:2px;
  top:308px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:22px;
  top:10px;
  width:320px;
  height:113px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:113px;
}
#u3 {
  position:absolute;
  left:2px;
  top:48px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:22px;
  top:11px;
  width:320px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:22px;
  top:113px;
  width:320px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u7 {
  position:absolute;
  left:22px;
  top:170px;
  width:320px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u8 {
  position:absolute;
  left:22px;
  top:225px;
  width:320px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u9 {
  position:absolute;
  left:22px;
  top:280px;
  width:320px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u10 {
  position:absolute;
  left:22px;
  top:330px;
  width:320px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u11 {
  position:absolute;
  left:22px;
  top:382px;
  width:320px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u12 {
  position:absolute;
  left:22px;
  top:434px;
  width:320px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u13 {
  position:absolute;
  left:22px;
  top:485px;
  width:320px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u14 {
  position:absolute;
  left:22px;
  top:536px;
  width:320px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u15 {
  position:absolute;
  left:22px;
  top:588px;
  width:320px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u16 {
  position:absolute;
  left:22px;
  top:598px;
  width:320px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:43px;
}
#u17 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:113px;
  top:601px;
  width:140px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:32px;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:35px;
  top:36px;
  width:38px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:149px;
  top:36px;
  width:67px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:35px;
  top:83px;
  width:20px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:22px;
  top:65px;
  width:320px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u27 {
  position:absolute;
  left:65px;
  top:84px;
  width:45px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:35px;
  top:140px;
  width:20px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:35px;
  top:190px;
  width:20px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:35px;
  top:245px;
  width:20px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:35px;
  top:300px;
  width:20px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:35px;
  top:350px;
  width:20px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:35px;
  top:402px;
  width:20px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:35px;
  top:455px;
  width:20px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u42 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:35px;
  top:505px;
  width:20px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:35px;
  top:556px;
  width:20px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:70px;
  top:136px;
  width:195px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:24px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:71px;
  top:188px;
  width:195px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:24px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:70px;
  top:245px;
  width:195px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:24px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:71px;
  top:300px;
  width:195px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:24px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:71px;
  top:348px;
  width:195px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:24px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:70px;
  top:402px;
  width:195px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:24px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:71px;
  top:451px;
  width:195px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:24px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:71px;
  top:501px;
  width:195px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:24px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:71px;
  top:552px;
  width:195px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:24px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:682px;
  top:14px;
  width:300px;
  height:272px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:272px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:293px;
  top:302px;
  width:40px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#949494;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:354px;
  top:9px;
  width:320px;
  height:632px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:632px;
}
#u70 {
  position:absolute;
  left:2px;
  top:308px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:355px;
  top:72px;
  width:120px;
  height:77px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:77px;
}
#u72 {
  position:absolute;
  left:2px;
  top:30px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:355px;
  top:144px;
  width:317px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:300px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:5px;
  width:317px;
  height:1px;
}
#u74 {
  position:absolute;
  left:355px;
  top:188px;
  width:317px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:300px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:5px;
  width:317px;
  height:1px;
}
#u75 {
  position:absolute;
  left:355px;
  top:293px;
  width:317px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:300px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:317px;
  height:1px;
}
#u76 {
  position:absolute;
  left:354px;
  top:392px;
  width:317px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u76_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_end {
  position:absolute;
  left:300px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_line {
  position:absolute;
  left:0px;
  top:5px;
  width:317px;
  height:1px;
}
#u77 {
  position:absolute;
  left:355px;
  top:490px;
  width:317px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u77_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:300px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:5px;
  width:317px;
  height:1px;
}
#u78 {
  position:absolute;
  left:355px;
  top:536px;
  width:317px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u78_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_end {
  position:absolute;
  left:300px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_line {
  position:absolute;
  left:0px;
  top:5px;
  width:317px;
  height:1px;
}
#u79 {
  position:absolute;
  left:352px;
  top:144px;
  width:317px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u79_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_end {
  position:absolute;
  left:300px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_line {
  position:absolute;
  left:0px;
  top:5px;
  width:317px;
  height:1px;
}
#u80 {
  position:absolute;
  left:355px;
  top:194px;
  width:314px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:42px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:485px;
  top:72px;
  width:97px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:24px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:487px;
  top:98px;
  width:97px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#515151;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:485px;
  top:125px;
  width:170px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#515151;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:15px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:614px;
  top:75px;
  width:40px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
}
#u89 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:354px;
  top:10px;
  width:320px;
  height:61px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:61px;
}
#u91 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:353px;
  top:11px;
  width:320px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:13px;
}
#u93 {
  position:absolute;
  left:2px;
  top:-2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:362px;
  top:29px;
  width:20px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:33px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:615px;
  top:32px;
  width:40px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
}
#u97 {
  position:absolute;
  left:2px;
  top:5px;
  width:36px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:386px;
  top:253px;
  width:195px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:24px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:387px;
  top:278px;
  width:105px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:592px;
  top:257px;
  width:47px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:639px;
  top:259px;
  width:30px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u105 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:642px;
  top:217px;
  width:30px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u107 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:355px;
  top:239px;
  width:317px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u108_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u108_end {
  position:absolute;
  left:300px;
  top:-5px;
  width:18px;
  height:20px;
}
#u108_line {
  position:absolute;
  left:0px;
  top:5px;
  width:317px;
  height:1px;
}
#u109 {
  position:absolute;
  left:355px;
  top:348px;
  width:317px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u109_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u109_end {
  position:absolute;
  left:300px;
  top:-5px;
  width:18px;
  height:20px;
}
#u109_line {
  position:absolute;
  left:0px;
  top:5px;
  width:317px;
  height:1px;
}
#u110 {
  position:absolute;
  left:355px;
  top:440px;
  width:317px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u110_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u110_end {
  position:absolute;
  left:300px;
  top:-5px;
  width:18px;
  height:20px;
}
#u110_line {
  position:absolute;
  left:0px;
  top:5px;
  width:317px;
  height:1px;
}
#u111 {
  position:absolute;
  left:412px;
  top:149px;
  width:261px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:45px;
}
#u112 {
  position:absolute;
  left:2px;
  top:14px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:549px;
  top:149px;
  width:10px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u113_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u113_end {
  position:absolute;
  left:-5px;
  top:28px;
  width:20px;
  height:18px;
}
#u113_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:45px;
}
#u114 {
  position:absolute;
  left:576px;
  top:162px;
  width:71px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:456px;
  top:162px;
  width:60px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:355px;
  top:259px;
  width:30px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u119 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:388px;
  top:309px;
  width:195px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:24px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:386px;
  top:334px;
  width:77px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:594px;
  top:313px;
  width:47px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:640px;
  top:315px;
  width:30px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u127 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:356px;
  top:315px;
  width:30px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u129 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:388px;
  top:400px;
  width:195px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:24px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:386px;
  top:425px;
  width:77px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:594px;
  top:404px;
  width:47px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:640px;
  top:406px;
  width:30px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u137 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:356px;
  top:406px;
  width:30px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u139 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:388px;
  top:447px;
  width:195px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:386px;
  top:472px;
  width:77px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:594px;
  top:451px;
  width:47px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:640px;
  top:453px;
  width:30px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u147 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:356px;
  top:453px;
  width:30px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u149 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:388px;
  top:497px;
  width:195px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:24px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:387px;
  top:522px;
  width:77px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:594px;
  top:501px;
  width:47px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:640px;
  top:503px;
  width:30px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u157 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:356px;
  top:503px;
  width:30px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u159 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:354px;
  top:353px;
  width:320px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u161 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:388px;
  top:358px;
  width:34px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
}
#u163 {
  position:absolute;
  left:2px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:388px;
  top:382px;
  width:44px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:464px;
  top:358px;
  width:34px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
}
#u167 {
  position:absolute;
  left:2px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:458px;
  top:382px;
  width:44px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:539px;
  top:358px;
  width:34px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
}
#u171 {
  position:absolute;
  left:2px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:536px;
  top:382px;
  width:44px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:611px;
  top:358px;
  width:34px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
}
#u175 {
  position:absolute;
  left:2px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:607px;
  top:382px;
  width:44px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:355px;
  top:592px;
  width:319px;
  height:49px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:49px;
}
#u179 {
  position:absolute;
  left:2px;
  top:16px;
  width:315px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:388px;
  top:550px;
  width:195px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:24px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:387px;
  top:575px;
  width:77px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:594px;
  top:554px;
  width:47px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:640px;
  top:556px;
  width:30px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u187 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:356px;
  top:556px;
  width:30px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u189 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:363px;
  top:159px;
  width:39px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:25px;
}
#u191 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:420px;
  top:204px;
  width:200px;
  height:86px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:86px;
}
#u193 {
  position:absolute;
  left:2px;
  top:35px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:448px;
  top:219px;
  width:152px;
  height:54px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:54px;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
